<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원 활성화</title>
</head>
<body>
<h1>회원 활성화</h1>

<div th:if="${result eq true}">
    <p>계정이 활성화 되었습니다.</p>
</div>

<div th:if="${result eq false}">
    <p>계정이 활성화 실패.</p>
</div>
</div>
<div>
</div>
</body>
</html>